[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
aresponses = "*"

[packages]
aiofiles = "*"
aiohttp = "*"
aiohttp-cors = "*"
numpy = "*"
pillow = "*"

[requires]
python_version = "3.7"
