[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-timeout = "*"
websocket-client = "*"

[packages]
Flask = "==1.0.3"
Flask-Sockets = "==0.2.1"
flask-cors = "*"
aiofiles = "*"
websockets = "*"

[requires]
python_version = "3.7"
