[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
aioresponses = "*"
pytest-timeout = "*"

[packages]
aiofiles = "*"
aiohttp = "*"
aiohttp_cors = "*"
numpy = "*"
Pillow = "*"
aioresponses = "*"
mock = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest"
