[Unit]
Description=pi-top Further Link
Documentation=https://knowledgebase.pi-top.com/knowledge
After=network.target

[Service]
Type=simple
Environment="SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt"
Environment="PYTHONUNBUFFERED=1"
Environment="PYTHONDONTWRITEBYTECODE=1"
ExecStartPre=/usr/bin/further-link-set-pretty-hostname
ExecStart=/usr/bin/further-link

[Install]
WantedBy=multi-user.target
