#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export PYBUILD_NAME=further_link

%:
	dh $@ --buildsystem=pybuild

override_dh_auto_test:
	# Don't run the tests!

override_dh_auto_build:
	echo "__version__ = '$(DEB_VERSION)'" > further_link/version.py
	# Create extra files from env vars, removing ALL quotes
	# https://stackoverflow.com/a/10430975
	$(file > further_link/extra/fl.dat,$(subst $\",,$(DATA)))
	$(file > further_link/extra/key.aes.pem,$(subst $\",,$(TLS_KEY)))

	dh_auto_build

override_dh_clean:
	rm -rf extra/fl.dat extra/key.aes.pem
	dh_clean

override_dh_installsystemd:
	dh_installsystemd --name=further-link
	dh_installsystemd --name=further-link-bluetooth-pairing --no-start --no-enable
