#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

override_dh_auto_build:
	echo "__version__ = '$(DEB_VERSION)'" > src/lib/further_link/version.py
	# Write to file if it doesn't exist
	# This allows for Docker build to write these to file
	ifeq ("$(wildcard extra/fl.dat)","")
		$(file > extra/fl.dat,$(DATA))
	endif
	ifeq ("$(wildcard extra/key.aes.pem)","")
		$(file > extra/key.aes.pem,$(TLS_KEY))
	endif

	dh_auto_build

override_dh_clean:
	rm -rf extra/fl.dat extra/key.aes.pem

	dh_clean

override_dh_installsystemd:
	dh_installsystemd --name=pt-further-link
