name: Docker Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'
  release:
    types: [released]

jobs:
  build-docker-image:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.2.0
        with:
          fetch-depth: 0

      - name: Insert data file
        run: echo ${{ secrets.DATA }} > data.txt

      - name: Insert key file
        run: |
          cat << EOF > key.aes.pem
          ${{ secrets.TLS_KEY_AES }}
          EOF

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Generate non-release tag
        if: ! startsWith(github.ref, 'refs/tags/releases/')
        run: |
          echo "DOCKER_TAG=$(basename ${GITHUB_HEAD_REF:-$GITHUB_REF})-$GITHUB_RUN_NUMBER" >> $GITHUB_ENV

      - name: Generate release tag
        if: startsWith(github.ref, 'refs/tags/releases/')
        run: |
          sudo apt install -y dpkg-dev
          echo "DOCKER_TAG=v$(dpkg-parsechangelog -Sversion)" >> $GITHUB_ENV

      - name: Build and push
        id: docker_build_push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: "pitop/pt-further-link:${{ env.DOCKER_TAG }}"

      - name: Show image digest
        run: echo ${{ steps.docker_build_push.outputs.digest }}
