name: Docker Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:
  build-docker-image:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.2.0
        with:
          fetch-depth: 0

      - name: Insert data file
        run: echo ${{ secrets.DATA }} > data.txt

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Generate tag
        shell: bash
        run: echo "##[set-output name=tag;]$(basename ${GITHUB_HEAD_REF:-$GITHUB_REF})-$GITHUB_RUN_NUMBER"
        id: generate_tag

      - name: Build and push
        id: docker_build_push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: "pitop/pt-further-link:${{ steps.generate_tag.outputs.tag }}"

      - name: Show image digest
        if: github.ref == 'refs/heads/master'
        run: echo ${{ steps.docker_build_push.outputs.digest }}
