name: Run Tests and Upload Coverage Report

on: push

jobs:
  test-and-upload-coverage-report:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4

      - name: Run Python tests and generate coverage report
        run: |
          docker run --rm \
            --volume ${{ github.workspace }}:/${{ github.event.repository.name }} \
            debian:buster \
            /bin/bash -c "\
              apt-get update && \
              apt-get install -y python3 python3-pip && \
              pip3 install pipenv && \
              cd /${{ github.event.repository.name }} && \
              pipenv sync --dev && \
              pipenv run test -v --cov=src --timeout=5 && \
              pipenv run coverage xml\
            "

      - name: Upload Python test coverage reports to Codecov
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          verbose: true
