name: Run Tests and Upload Coverage Report

on: push

jobs:
  test-and-upload-coverage-report:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4

      - name: Install Python 3
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          pip install .[test]

      - name: Run tests with pytest
        run: |
          pytest -v --cov=src --timeout=5
          coverage xml

      - name: Upload Python test coverage reports to Codecov
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          fail_ci_if_error: true
          verbose: true
